.expenses {
  margin: 2rem auto;
  width: 90%;
  max-width: 35rem;
}

.expenses ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
  border: 1px solid rgb(140, 206, 254);
  border-radius: 6px;
}



.expenses span{
  width: 15%;
  height: 40px;
  color:rgb(4, 122, 131);
  font-style: italic;
  padding-top:10px ;
  border: none;
 text-align: center;
 font-size: 18px;
 margin-left: 1.5rem;
 margin-right: 10px;
}

.expenses button{
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #688cf9;
  border: 1px solid #75a0fe;
  border-radius: 50px;
  margin-left: 10px;
}

.total{
  float: right;
  font-style: italic;
  background-color:  rgb(64, 162, 241);
  color: white;
  height: 2rem;
  text-align: center;
  padding: 0px 20px 25px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px #888888;
  margin-right: 20px;
  font-weight: 300;
  font-size: 1.5rem;
}