.expenses {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.expenses ul {
  list-style: none;
  padding: 1rem;
}

.expenses li {
  border: 1px solid rgb(140, 206, 254);
  border-radius: 6px;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.expenses span{
  display:inline-block;
  background-color: rgb(251, 253, 255);
  width: 25%;
  height: 40px;
  color:rgb(6, 6, 6);
  font-style: italic;
  box-shadow: 1px 1px 4px #888888;
  padding-top:10px ;
  border: none;
 text-align: center;
 font-size: 18px;
 border-radius: 0px 8px 8px 0px;
 margin-left: 2rem;
}

.total{
  float: right;
  font-style: italic;
  background-color:  rgb(64, 162, 241);
  color: white;
  height: 2rem;
  text-align: center;
  padding: 0px 20px 25px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px #888888;
  margin-right: 20px;
  font-weight: 300;
  font-size: 1.5rem;
}